name: Lint

on: [push, pull_request]

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v1
        - uses: actions/setup-node@v2
          with:
            node-version: '18'
            cache: 'yarn'
        - name: Install dependencies
          run: yarn install
        - name: Generate Prisma client
          run: yarn prisma generate
        - name: Run lint
          run: yarn lint
