name: Type Check

on: [push, pull_request]

jobs:
  build:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v1
        - uses: actions/setup-node@v2
          with:
            node-version: '16'
            cache: 'yarn'
        - name: Install dependencies
          run: yarn install
        - name: Generate Prisma client
          run: yarn prisma generate
        - name: Run type check
          run: yarn tsc
